@import "variables";

.font {
    font-size: 30px;
    font-weight: 500;
}

.header {
    text-transform: uppercase;
}

h1, h2 {
    color: @black;
    text-transform: .header();
    font-family: @font;
    };


p, ul {
    color: @black;
    font-family: @font;
}

header {
    background-color: @yellow;
    ul {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        }
        li {
        list-style-type: none; 
        padding: 3%; 
         }
}

li:hover {
    color: @red;
    text-transform: uppercase;
    
}

